# User-specific stuff:
bookstore_jdbc/.idea/*
bookstore_jdbc/out/*
bookstore-w-hibernate-and-jpa-annotations/target
bookstore-w-hibernate-and-jpa-annotations/.idea
bookstore-w-hibernate-and-jpa-annotations/*.iml
